<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879195239299-n0if8qnhh8ttn1hilk4kh0e9mgitr8q1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879195239299-n0if8qnhh8ttn1hilk4kh0e9mgitr8q1</string>
	<key>API_KEY</key>
	<string>AIzaSyCvRqEol2XxTdyriBFeRwx0k_unXNsmWOk</string>
	<key>GCM_SENDER_ID</key>
	<string>879195239299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azimgunes.LeusApp</string>
	<key>PROJECT_ID</key>
	<string>leusfriendapp</string>
	<key>STORAGE_BUCKET</key>
	<string>leusfriendapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879195239299:ios:487d62d41c4a82870ebcb6</string>
</dict>
</plist>